<div class="container border border-dark rounded bg-light">
  <form>
      <div class="form-group">
        <label class="font-weight-bold">Name *</label>
        <input type="text" class="form-control" id="name" placeholder="firstname lastname" minlength="3" maxlength="30" required>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">E-mail address</label>
        <input type="email" class="form-control" id="email" placeholder="your@domain.com">
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Message *</label>
        <textarea class="form-control" id="message" rows="3" minlength="2" maxlength="500" required></textarea>
      </div>
      <button type="submit" class="btn btn-dark btn-sm">Save message</button><br/><br/>
  </form>
</div>